@charset "utf-8";

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    list-style: none;
    background-color:lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding:32px;
}
.style-logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.style-nav ul li a{
    text-decoration: none;
    color:#2F322A;
    text-align: center;
    display: block;
    text-transform: uppercase;
    padding:8px;
}

.row:before, .row:after{
    content:"";
    display:table;
}
.row:after{
    clear:both;
}

.hero{
    background-image:url(images/Coading5/blead.jpg);
    background-size: cover;
    padding:20px 20px 50px 20px;
    color:#fff;
    text-align: center;
}
h1{
    font-size:40px;
    font: weight 200px;
    margin-bottom:50px;
}
h3{
    font-size:16px;
    font: weight 200px;
    margin-bottom:100px;
}
h4{
    font-size:14px;
    font: weight 200px;
    margin-bottom:20px;
}
.button{
    border:2px solid #fff;
    padding:8px 20px;
    border-radius: 30px;
    color:#fff;
    text-decoration: none;
}


/*Tablet View*/
@media (min-width: 768px){
    .style-nav ul li{
        display: inline-block;
    }
    .style-nav ul{
        text-align: center;
    }
}

/*Deskyop View*/
@media (min-width: 1024px){
    .style-logo{
        float: left;
    }
    .style-nav{
        float: right;
    }
}