@charset "utf-8";

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    list-style: none;
}

header{
    background-color: green;
    height:500px;
    background-image: url("images/m.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

h1{
    color:#fff;
    padding-top:100px;
    text-align:center;
}

nav.topNav{
    margin-top:200px;
}

nav.topNav ul{
    margin:0 auto;
    color:#fff;
    list-style: none;
    padding-left:0;
}

    nav.topNav ul li a{
    display: block;
    width:150px;
    text-align:center;
    margin:0 auto;
    margin-bottom:10px;
    color:green;
    text-decoration: none;
    background-color: #fff;
    padding:5px 10px;
}

.circle{
    width:100px;
    height:100px;
    background-color: lightgreen;
    border-radius: 50px;
    text-align:center;
    line-height:100px;
    margin:0 auto;
}
.oval{
    width:232px;
    height:78px;
    background-color: lightblue;
    border-radius: 50%;
    text-align:center;
    line-height:78px;
    margin:0 auto;
}

main{
    width:95%;
    margin:50px auto;
}
/*カルーセル*/
.slide-items {
	width:100%;
    height:100%;
}

.slide-items img {
	width:700px;
    height:350px;
    object-fit: cover;
    margin:0 auto;
}

.mk_img{
    width:100%;
}
.cat{
    display: none;
}
.flex{
    margin-top:50px;
    display: flex;
    flex-direction:column ;
    justify-content: center;
}

.flex img{
    width:300px;
    margin:0 auto;
}

.flex-reverse-mb{
    flex-direction: column-reverse;
}

.flex div{
    width:250px;
    margin:0 auto;
}


@media screen and (min-width:980px) {
    main{
    width:960px;
    margin:50px auto;
    }

    .cat{
    display: block;
    width:200px;
    position: absolute;
    top:100px;
    left:calc(50% + 200px);
    animation: upAndDown 2s ease-in-out infinite alternate;
    }
    h1{
    padding-top:100px;
    text-align:center;
    padding-right:500px;
    }
    /*
    nav.topNav ul{
    display: flex;
    justify-content: space-between;
    width:600px;
    margin:0 auto;
    color:#fff;
    list-style: none;
    }

    nav.topNav ul li a{
    display: inline;
    width:auto;
    color:green;
    text-decoration: none;
    background-color: #fff;
    padding:10px 15px;
    transition: all 0.6s ease-in-out;
    border:1px solid green;
    border-radius:5px;
    box-shadow:5px 5px 5px rgba(0,0,0,0.8);
    }
    .topNav ul a:hover{
    color:#fff;
    background-color: green;
    box-shadow:none;
    }
    */
    .flex{
    margin-top:50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    }

    .flex img{
    width:300px;
    margin:0;
    }
    .flex div{
        margin: 0;
    }
    /*===============================
    グローバルナビゲーション部分
    ===============================*/

    .gnavi__wrap {
    width: 800px;
    margin: 0 auto;
    }
    .gnavi__lists {
    display: flex;
    }
    .gnavi__list {
    width: 20%;
    height: 60px;
    background-color: #e60012;/*リストの色*/
    position: relative;
    transition: all .3s;/* ------どのぐらい時間をかけて変化するか指定------ */
    }
    .gnavi__list:hover {/* マウスオン時の色 */
    background-color: #e62e3d;
    }
    .gnavi__list:not(:first-child)::before {
    content: "";
    width: 1px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s;
    }
    .gnavi__list:hover::before {
    background-color: #ff7f50;/* ------coral------ */
    }
    .gnavi__list a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.05em;
    font-weight: 600;
    transition: all .3s;
    }
    .gnavi__list:hover a {
    color: #000 ;
    }

    /*===============================
    ドロップダウンメニュー追加
    ===============================*/

    .dropdown__lists {
    display: none;/*デフォルトでは非表示の状態にしておく*/
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    }
    .gnavi__list:hover .dropdown__lists {
    display: block;/*Gナビメニューにホバーしたら表示*/
    }
    .dropdown__list {
    background-color:#e62e3d;
    height: 60px;
    transition: all .3s;
    position: relative;
    }
    .dropdown__list:not(:first-child)::before{
    content: "";
    width: 100%;
    height: 1px;
    background-color:  #ff4500;
    position: absolute;
    top: 0;
    left: 0;
    }
    .dropdown__list:hover {
    background-color:#e6d200;/* ドロップダウンホバー*/
    }
    .dropdown__list a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    position: relative;
    }
    .dropdown__list a::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(135deg);
    position: absolute;
    right: 15px;
    top: calc(50% - 5px);
    }


}

section h3{
    text-align:center;
    margin:32px;
    font-size:24px;
    margin-bottom:20px;
}


footer{
    background-color: lightblue;
    padding:30px;
    text-align: center;
}



@keyframes upAndDown{
    0%{
        transform:translateY(-30px);
    }
    100%{
        transform:translateY(30px);
    }
}

.signal{
    display: flex;
    width:300px;
    margin:0 auto 80px auto;
}

.light{
    width:100px;
    height:100px;
    background-color:darkgray;
    border-radius:50%;
}

.light-green{
    animation: green 10s infinite;
}
.light-yellow{
    animation: yellow 10s infinite;
    animation-delay: 4s;
}
.light-red{
    animation: red 10s infinite;
    animation-delay: 6s;
}

@keyframes green{
    0%{
        background-color: lightseagreen;
    }
    39%{
        background-color: lightseagreen;
    }
    40%{
        background-color: darkgray;
    }
    100%{
        background-color: darkgray;
    }
}
@keyframes yellow{
    0%{
        background-color: orange;
    }
    19%{
        background-color: orange;
    }
    20%{
        background-color: darkgray;
    }
    100%{
        background-color: darkgray;
    }
}
@keyframes red{
    0%{
        background-color: red;
    }
    39%{
        background-color: red;
    }
    40%{
        background-color: darkgray;
    }
    100%{
        background-color: darkgray;
    }
}